:root {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #965ba1;
    --bg-secondary: rgb(95, 142, 185);
    --transition-speed: 600ms;
}

body {
    font-family: "Poppins", sans-serif;
    color: black;
    background-color: rgb(159, 211, 218);

    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: rgb(181, 181, 181);
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #4747a0;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

main {
    max-width: 70vw;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    line-height: 1.7;
    color: #333;
    font-size: 1.1rem;
    padding: 2rem 5rem;
}

nav {
    /* display: flex; */
    justify-content: space-around;
}


.navbar-nav {
    list-style: none;
    margin: 0;
    background-color: var(--bg-secondary);
}

.nav-links {
    color: var(--text-primary);
    text-decoration: none;
    padding: 1rem;
    display: block;
}

.project-link-container {
    display: flex;
    align-items: left;
    text-decoration: none;
    padding: 0%;
    gap: 1rem;

}

.title {
    align-items: center;
    text-decoration: none;
    padding: 0%;
    margin-top: 0;
}

.sub-title {
    font-family: italic;
    font-size: small;
    margin: 0;
    transform: translateY(0.5rem);
}


.icon {
    cursor: pointer;
    height: 2rem;
    transition: all 0.2s ease-in-out;
}

.icon:hover {
    transform: translateY(-0.5rem);
}


.project-logo {
    width: 10rem;
    height: 10rem;
    padding-right: 1rem;
    padding-left: 1rem;
    animation: bobAndWeave 2s ease-in-out forwards;
}

@keyframes bobAndWeave {
    0% {
        transform: translateX(0);
    }

    12.5% {
        transform: translateX(-0.2rem);
    }

    37.5% {
        transform: translateX(0.2rem);
    }

    62.5% {
        transform: translateX(-0.2rem);
    }

    100% {
        transform: translateX(0);
    }
}


.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.youtube-thumbnail {
    display: block;
    margin: 1rem auto;
    margin: auto;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 50rem;
}

.video-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* General styling */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;

}

.youtube-thumbnail:hover {
    transform: scale(1.05);
}

.video-link {
    display: block;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.project-image {
    margin: 0 auto;
    display: block;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Paragraph styles */
.intro,
.inspiration,
.model-comparison,
.method-breakdown,
.drawbacks {
    margin-bottom: 1.5rem;
}

/* Links styling */
main a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.2s ease;
}

main a:hover {
    color: #0056b3;
}

li {
    margin-bottom: 1rem;
}

/* Strong emphasis */
strong {
    color: #333;
    font-weight: bold;
}

footer {

    background-color: var(--bg-secondary);
}

.footer-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7rem;
    text-align: center;

}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    font-weight: 500;
}

#copyright {
    font-style: italic;
    font-size: 0.8rem;
    margin: 0 auto;
    text-align: center;
}



.dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #54548d;
    --bg-secondary: #4e3479;
}

@media screen and (max-width: 800px) {
    figure {
        margin: 0;
    }

    main {
        padding: 0;
        max-width: 90%;
    }

    body {
        font-size: 16px;
    }

    h1 {
        font-size: 1.5em;
        /* 24px */
    }

    h2 {
        font-size: 1.2em;
        /* 19.2px */
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 20px;
    }

    h1 {
        font-size: 36px;
    }
}

/* Extra large screens */
@media (min-width: 1800px) {
    body {
        font-size: 22px;
    }

    h1 {
        font-size: 48px;
    }
}